.subNavbar{
    display: flex;
    align-items: center;
    background-color: rgb(70, 64, 64);
    gap: 0.5rem;
    padding: 0.3rem;
}

.subNavbarBtn{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}