.navBar{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 15px 20px rgba(219, 214, 214, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    background-color: rgb(33, 28, 28);
    box-sizing: border-box;
    padding: 0.3rem 1rem;
    z-index: 10;
}

.logoImg{
    margin-top: -0.1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.logoTag{
width: 5rem;
/* height: 2rem; */

}

.deliveryText,.signInText,.cartText, .markedText{
    color: #fff;
}

.country, .favouritesText, .AccList, .cartText{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}

.searchWrapper{
    width: 50%;
    display: flex;
    gap: 0.5rem;
}

.searchInput{
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    outline: none;
}
.searchBtn{
    border-radius: 0.625rem;
    outline: none;
    background-color: rgb(236, 203, 40);
    box-sizing: border-box;
    padding: 0.3rem 0.8rem;
}

.cartWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.cartNum{
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    background: rgb(236, 203, 40);
    font-size: 1.2rem;
    padding: 0rem 0.3rem;
}

.searchInput{
    width: 100%;
}

